body{
    margin: 0 0 0 0;
    background-image: url(images/Frame\ 136.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: #EFE8DE; */
    font-family: 'Noto Sans', sans-serif;
}

h2{
    font-size: 36px;
}

.header-bar-container{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #EFE8DE;
    height: 68px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

nav{
    display: flex;
    margin: 11px auto 0 auto;
    justify-content: space-between;
    align-content: center;
    width: 1258px;
}

.header-bar-logo{
    height: 38px;
}

.header-bar-nav-items{
    display: flex;
}

.announcement{
    width: fit-content;
    margin: 40vh auto;
    text-align: center;
    color: #410D68;
    border-bottom: 8px dotted #410D68;
}